header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow:var(--box-shadow);
    width: 100%;
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    padding:20px;
    z-index:1000;
}
.logo {
    position: relative;
    width:50px;
    height:40px;
    top: 0;
    left:5%;
}
.logo img{
    width:100%;
    height:100%;
    position:absolute;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu{
    display:flex;
    align-items: center;
    gap:20px;
    margin-right:20px;
}

.nav-menu li{
    display:inline-block;
}
.navlink{
    color:var(--nav-color);
    font-size:20px;
    font-weight:bold;
    padding:8px 10px;
    cursor: pointer;
    position: relative;
}
.navlink:hover::after,
.activeLink::after{
    content: "";
    position: absolute;
    width:50%;
    height: 2px;
    background:var(--header-color);
    left:50%;
    bottom:-1%;
    transform: translateX(-50%);
}

.navlink:hover,
.activeLink
{
    color:var(--header-color);
   
}

.toggle{
    width:50px;
    background: grey;
    border-radius:20px;
    padding:0.7rem 1.2rem;
    position: relative;
    cursor: pointer;
}
.toggle.active{
    background:white;
}
.toggle span{
    display:block;
    width:23px;
    height:23px;
    background:white;
    border-radius:50%;
    position: absolute;
    top: 2%;
    left:0%;
    transform:translateY(-1%);
}
.toggle.active span {
    left:60%;
    background:green;
}

.Menu{
    display: none;
    margin-left: 10px;
}
.Menu i{
    color:var(--text-color);
    font-size: 20px;
  }

@media screen and (max-width:790px){
    .nav-menu{
        display: flex;
        align-items:flex-start;
        justify-content:center;
        flex-direction: column;
        width:100%;
        height:auto;
        position:absolute;
        top:10%;
        left: 110%;
        background: var(--bg-color);
        padding:80px 20px 30px 20px;
        z-index:-999;
        border-radius: 10px;
        transition:left 1s;
    }
    .nav-menu.active{
        left: 0%;
    }
    .nav-menu li{
        width:100%;
        margin-bottom:20px;
    }
    
    .Menu{
        display: block;
    }
}
